<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Настройки</title>
</head>
<body>
<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col"> Group</th>
    <th scope="col"> Key</th>
    <th scope="col"> Type</th>
    <th scope="col" colspan="2"> Value</th>
    <!--    <th></th>-->
  </tr>
  </thead>
  <tbody>
  <tr th:if="${settings.empty}">
    <td colspan="5"> No Settings provided yet</td>
  </tr>
  <tr th:each="setting : ${settings}">
    <td><span th:text="${setting.getGroup()}"> Group </span></td>
    <td><span th:text="${setting.getKey()}"> Key </span></td>
    <td><span th:text="${setting.getType()}"> Type </span></td>
    <td><span th:text="${setting.getValue()}"> Value </span></td>
    <td>
      <button id="remove" onclick="delete">X</button>
    </td>
  </tr>
  </tbody>
</table>

<label>Добавить настройку</label><br>
<label for="group">Group</label>
<input type="text" id="group"/><br>

<label for="key">Key</label>
<input type="text" id="key"/><br>

<label>Type
  <select id="type">
    <option th:each="type : ${types}" th:value="${type}" th:text="${type}"></option>
  </select>
</label>
<br>
<label for="value">Value</label>
<input type="text" id="value"/><br>
<input class="btn btn-primary" id="btn-add" type="submit" value="Добавить"/>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" th:src="@{/js/settings.js}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>
